/*reset stylesheet*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }


/*styling continues here..*/


@import url('https://fonts.googleapis.com/css?family=Chewy|Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');


body {
  background-color: #f3f3f3;
}


header {
  background-color: #fff;
  width: 100%;
  height: 120px;
}


.header-name{
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  font-weight: 850;
  color: #111;
  display:block;
  text-align: center;
  padding: 20px 0;
}


header nav ul{
  display: block;
  margin: 0 auto;
  width: fit-content;

}


header nav ul li{
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 15px;
}


header nav ul li a{
  font-family: 'Fredoka One', cursive;
  font-size: 15px;
  color: #111;
} 


.home-banner{
  width: 100%;
  height: calc(100vh - 120px);
  background-image:  url('images/minimalism_2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
 

.home-banner h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  font-weight: 650;
  color: #252F34;
  text-align: center;
}


.home-banner h2{
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
  font-weight: 550;
  color: #252F34;
  text-align: center;
}


.about-banner{
  padding-top: 10px;
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #111;
  background-image:  url('images/minimalism_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.about-banner h1{
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}


.about-banner h2{
  font-family: 'Fredoka One', cursive;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  text-align: left;
}


.hobbies-banner{
  padding-top: 20px;
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #252F34;
  background-image:  url('images/minimalism_guitar.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.hobbies-banner h1{
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}


.hobbies-banner h2{
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 20px;
  font-weight: 400;
  color: aquamarine;
  text-align: center;
}


.contact-banner{
  padding-top: 20px;
  width: 100%;
  height: calc(100vh - 120px);
  background-color: teal;
  background-image:  url('images/minimalism_code.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.contact-banner h1{
  font-family: 'Fredoka One', cursive;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}


.contact-banner h2{
  padding-top: 10px;
  font-family: 'Fredoka One', cursive;
  font-size: 15px;
  font-weight: 500;
  color: lightgreen;
  text-align: justify;
}


.contact-banner h3{
  padding-top: 15px;
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  font-weight: 650;
  color: #111;
  text-align: center;
}


@media only screen and (min-width: 768px)
{
  .header-name{
    font-size: 30px;
  }

  header nav ul li a{ 
    font-size: 20px;
  }

  .home-banner{
    padding-top: 20px;
    width: 100%;
  }

  .home-banner h1{
  font-size: 35px;
  }

  .home-banner h2{
    padding-top: 10px;
  font-size: 20px;
  }

  .about-banner{
    padding-top: 10px;
  }
  
  .about-banner h1{
    padding-top: 10px;
    font-size: 30px;
  }
  
  .about-banner h2{
    padding: 25px 0 0 15px;
    font-size: 25px;
  }
  
  .hobbies-banner{
    padding-top: 25px;
  }
  
  .hobbies-banner h1{
    font-size: 27px;
  }

  .hobbies-banner h2{
    padding-top: 20px;
    font-size: 27px;
  }
  .contact-banner{
    padding-top: 20px;
  }
  
  .contact-banner h1{
    font-size: 30px;
  }
  
  .contact-banner h2{
    padding: 15px 0 0 10px;
    font-size: 20px;
  }
  
  .contact-banner h3{
    padding-top: 20px;
    font-size: 27px;
  }
}


@media only screen and (min-width: 1000px)
{
  .home-banner{
    padding: 15px 0 150px 0;
   
  }

  .home-banner h1{
    font-size: 30px;
  }

  .home-banner h2{
    padding: 0 150px 0 150px;
    font-size: 20px;
    text-align: justify;
  }

  .about-banner h1{
    color: indigo;
  }

  .about-banner h2{
    padding: 10px 200px 0 225px;
    font-size: 25px;
    color: darkslategray;
  }
  
  .hobbies-banner{
    padding-top: 25px;
    background-size: 45%;
  }
  
  .contact-banner h2{
    padding: 15px 0 0 200px;
    font-size: 22px;
  }
  
  .contact-banner h3{
    padding-top: 350px;
    font-size: 30px;
    color: aliceblue;
  }
}
